license-dev.p7b
access-control.conf
logs/
profiles/
venv/
local/
__pycache__/
models/
tdbhdf5/
result/
images/

*-key
*.sb
*.keras
*.pem
*.log
*.xml
*.png
out.init
out.global
debug.py
model.txt
_*.py
